
    hr{ 
        border-style: dotted none none none;
        width: 10%;
        border-width: 5px;
        background-color: white;
        border-color: rgb(186, 219, 188);
    
    }

    body{background-color: #EAF6F6;}

   h3{

    color:#66BFBF;
   }

   h1{

    color:#66BFBF;
   }
